<form method="POST" action="{{ path({{ controllerName }}) }}" enctype="multipart/form-data" id="form">
    <div>
        <label for="catName">Nombre:</label>
        <input type="text" id="catName" name="catName" required>
    </div>

    <div>
        <input type="submit" name="submit" value="Enviar">
    </div>
</form>
