{% extends 'base.html.twig' %}

{% block title %} Contacto {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form_contact') }}
{% endblock %}

{% block body %}

    <form action="{{ path('app_support') }}" method="POST">
        <div class="formbold-mb-5">
            <label for="name" class="formbold-form-label"> Full Name </label>
            <input type="text" name="name" id="name" placeholder="Indica tu nombre" class="formbold-form-input" />
        </div>

        <div class="formbold-mb-5">
            <label for="email" class="formbold-form-label"> Email Address </label>
            <input type="email" name="email" id="email" placeholder="Indica tu email" class="formbold-form-input" />
        </div>

        <div class="formbold-mb-5">
            <label for="subject" class="formbold-form-label"> Subject </label>
            <input type="text" name="subject" id="subject" placeholder="Dinos de qué se trata" class="formbold-form-input" />
        </div>

        <div class="formbold-mb-5">
            <label for="message" class="formbold-form-label"> Message </label>
            <textarea rows="6" name="message" id="message" placeholder="Type your message" class="formbold-form-input"></textarea>
        </div>

        <div>
            <button class="formbold-btn">Submit</button>
        </div>
    </form>

{% endblock %}
