@import 'reset.css';

.content {
    display: none;
}

.active {
    display: block;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.header__icon {
    width: calc(8em + 1vw);
}

.header__icon img {
    width: 100%;
}

.ds-menu {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.header__nav {
    width: 80%;
}

.header__nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__nav ul li a {
    font-size: calc(.6rem + .8vw);
    color: var(--grey-color);
    padding: 1em;
}

.header__nav ul li a::first-letter,
.header__button ul li a::first-letter {
    color: var(--red-color);
}

.header__button {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: var(--second-color);
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.dropdown .dropdown-menu a {
    font-size: 1.2em;
    font-weight: normal;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

.user-image {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    object-fit: cover;
}

/* MENU */

.sm-menu {
    display: none;
}

.btn1 {
    position: relative;
    width: 50px;
    height: 50px;
    transition-duration: 500ms;
    z-index: 11;
}

.btn1 .icon-left {
    transition-duration: 500ms;
    position: absolute;
    height: 6px;
    width: 20px;
    top: 20px;
    background-color: #212121;
    left: 0px;
}

.btn1 .icon-left:before {
    content: '';
    transition-duration: 500ms;
    position: absolute;
    width: 20px;
    height: 6px;
    background-color: #212121;
    top: -15px;
}

.btn1 .icon-left:after {
    content: '';
    transition-duration: 500ms;
    position: absolute;
    width: 20px;
    height: 6px;
    background-color: #212121;
    top: 15px;
}

.btn1 .icon-left:hover {
    cursor: pointer;
}

.btn1 .icon-right {
    transition-duration: 500ms;
    position: absolute;
    height: 6px;
    width: 20px;
    top: 20px;
    background-color: #212121;
    left: 20px;
}

.btn1 .icon-right:before {
    content: '';
    transition-duration: 500ms;
    position: absolute;
    width: 20px;
    height: 6px;
    background-color: #212121;
    top: -15px;
}

.btn1 .icon-right:after {
    content: '';
    transition-duration: 500ms;
    position: absolute;
    width: 20px;
    height: 6px;
    background-color: #212121;
    top: 15px;
}

.btn1.open .icon-left {
    transition-duration: 500ms;
    background: transparent;
}

.btn1.open .icon-left:before {
    transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
}

.btn1.open .icon-left:after {
    transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
}

.btn1.open .icon-right {
    transition-duration: 500ms;
    background: transparent;
}

.btn1.open .icon-right:before {
    transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
}

.btn1.open .icon-right:after {
    transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
}

.btn1:hover {
    cursor: pointer;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    z-index: 10;
}

.menu-container.active {
    left: 0;
}

.menu-flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.menu-flex > a {
    position: relative;
    font-size: calc(1.8em + 1vw);
    color: var(--color-text);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.menu-flex > a:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 100%;
    width: 100%;
    height: 5px;
    background-color: var(--color-red);
    visibility: hidden;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.menu-flex > a:hover:last-child {
    color: var(--color-red);
}

.menu-flex > a:not(:last-child):hover::after {
    left: 0;
    visibility: visible;
}

.menu-flex span {
    font-size: calc(1em + .8vw);
}
