@import 'reset.css';

.principal::before {
    content: '';
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-image: url('/public/resources/images/fondo-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.specialist::before {
    content: '';
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-image: url('/public/resources/images/fondo-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.principal {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    position: relative;
    padding: 1em;
}

.principal__logo {
    width: 100%;
    margin: 1em;
    align-self: flex-start;
}

.principal__logo a {
    font-size: calc(1rem + 1vw);
}

.principal__h2 {
    font-size: calc(2em + 1vw);
    text-transform: uppercase;
    color: var(--second-color);
    font-family: var(--third-font);
    margin-bottom: 1em;
    font-weight: bold;
    text-shadow: 0 2px 1px var(--main-color);
    padding: .6em;
}

.form-layer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--second-color);
    background-color: var(--main-color);
    padding: 2em;
    z-index: 2;
}

.form-item {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.form-item label {
    font-size: calc(.6em + 0.5vw);
    margin-bottom: 1em;
    display: flex;
}

.form-item input,
.form-item select {
    font-size: calc(.6em + .6vw);
    margin-bottom: 1em;
    padding: .5em;
    outline: none;
    color: var(--main-color);
    background-color: var(--second-color);
    -webkit-border-radius: .1em;
    -moz-border-radius: .1em;
    -ms-border-radius: .1em;
    -o-border-radius: .1em;
    border-radius: .1em;
}

.form-item--pass {
    width: 40%;
    margin: .1em;
}

.form-item--image input{
    background-color: transparent;
    color: var(--second-color);
    padding: 0;
}

.credit-card fieldset input {
    width: 100%;
}

fieldset {
    border: 1px solid var(--second-color);
    border-radius: .1em;
    padding: 1em;
    margin-bottom: 1em;
}

legend {
    font-size: calc(.5em + 1vw);
    text-transform: uppercase;
    text-shadow: 0 1px 2px var(--main-color);
    padding: .6em;
}

.policy {
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.checkbox {
    width: 10%;
}

.privacy a {
    margin: 0 .1em 0 .1em;
}

.button {
    width: 40%;
}

button,
input[type="submit"] {
    cursor: pointer;
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
}

.reply-fs {
    font-size: 1.5em;
}

@media screen and (max-width: 768px) {

    .principal__logo {
        width: 20%;
        margin: 1em;
    }
    
    .principal__logo img {
        width: 100%;
    }

    .principal__h2 {
        font-size: calc(1.5em + 1vw);
    }
    .form-layer {
        width: 90%;
    }

    .form-item--pass {
        width: 80%;
        display: flex;
    }
    .policy {
        flex-direction: column;
    }
    .checkbox {
        width: 100%;
    }
    .privacy {
        width: 100%;
    }
    .button {
        width: 100%;
    }
}
