/* CARGANDO LAS FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;0,900;1,200;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

/* DEFINIENDO LAS CUSTOM PROPERTIES */

:root {
    --main-color: #181818;
    --second-color: #f0f0f0;
    --red-color: #d0021b;
    --grey-color: #333;

    /* TIPOGRAFÍAS */
    --main-font: 'Alatsi', sans-serif;
    --second-font: 'Source Sans Pro', sans-serif;
    --third-font: 'Open Sans', sans-serif;
}

/* COLORES QUE ADAPTAMOS AL MODO OSCURO SEGÚN LAS OPCIONES PERSONALIZADAS DE CADA USUARIO EN EL NAVEGADOR */

/* @media (prefers-color-scheme: dark) {
    :root {
        --main-color: #f0f0f0;
        --second-color: #181818;
    }
} */

/* COLORES A CONFIGURAR SI EL USUARIO HA ACTIVADO EL MODO ALTO CONTRASTE */

@media (prefers-contrast: high) {
    :root {
        --main-color: black;
        --second-color: white;
    }
}

/* RESETEAMOS LOS MARGINS Y PADDINGS DE TODAS LAS ETIQUETAS */

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

/* EVITAMOS LOS PROBLEMAS CON LAS IMÁGENES CON ESTA CONFIGURACIÓN */

img, picture, video, iframe,figure {
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}

/* RESETEAMOS LOS ENLACES PARA QUE FUNCIONEN COMO CAJAS... */

a {
    display: block;
}

/* ...A EXCEPCIÓN DE LOS QUE SE ENCUENTRAN EN PÁRRAFOS */

p a {
    display: inline;
}

/* QUITAMOS LOS PUNTOS DE LOS <LI> */

li{
    list-style-type: none;
}

/* CONFIGURAMOS ANCLAS SUAVES */

html {
    scroll-behavior: smooth;
}

/* DESACTIVAMOS ESTILOS POR DEFECTO EN LAS PRINCIPALES ETIQUETAS DE TEXTO */

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

/* CONFIGURAMOS EL TEXTO QUE SELECCIONAMOS */

::selection {
    background-color: var(--main-color);
    color: var(--second-color);
}

/* NIVELAMOS PROBLEMAS DE TIPOGRAFÍAS Y COLOCACIÓN DE FORMULARIOS */

form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; /* esto es para el texto cuando está muy largo se le pone un guión para luego continuar */
    background-color: transparent;
    display: block;
    color: inherit;
}

/* CONFIGURAMOS LA TIPOGRAFÍA PARA TODA LA WEB */

body {
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--main-font);
    color: var(--main-color);
    background-color: var(--second-color);
}
