{% extends 'base.html.twig' %}
{% block body %}
    <div class="pac-card" id="pac-card">
        <div>
            <div id="title">Autocomplete search</div>
        </div>
        <div id="pac-container">
            <input id="pac-input" type="text" placeholder="Enter a location" />
        </div>
        <div id="infowindow-content">
            <span id="place-name" class="title"></span><br />
            <span id="place-address"></span>
        </div>
    </div>
{% endblock %}


{# Renderizar el formulario base y sobrescribir los bloques necesarios #}
{% include 'forms/form-template.html.twig' with {
    'controllerName': path('register_client')  // Reemplaza 'register_client' con la ruta correspondiente para el registro de clientes
} %}

{# Agregar bloques adicionales si es necesario #}
{% block additional_fields %}
    {# Aquí puedes agregar campos adicionales específicos para esta plantilla #}
    <div>
        <label for="additional_field">Campo Adicional:</label>
        <input type="text" id="additional_field" name="additional_field" required>
    </div>
{% endblock %}

{# Resto del contenido de la plantilla #}

