@import 'reset.css';

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.header__icon {
    width: calc(8em + 1vw);
}

.header__icon img {
    width: 100%;
}

.ds-menu {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.header__nav {
    width: 80%;
}

.header__nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__nav ul li a {
    font-size: calc(.6rem + .8vw);
    color: var(--grey-color);
    padding: 1em;
}

.header__nav ul li a::first-letter {
    color: var(--red-color);
}

.header__nav ul li:hover {
    border-bottom: 2px solid var(--red-color);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.header__button {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MENU */

.sm-menu {
    display: none;
}

.btn1 {
    position: relative;
    width: 50px;
    height: 50px;
    transition-duration: 500ms;
    z-index: 11;
}

.btn1 .icon-left {
    transition-duration: 500ms;
    position: absolute;
    height: 6px;
    width: 20px;
    top: 20px;
    background-color: #212121;
    left: 0px;
}

.btn1 .icon-left:before {
    content: '';
    transition-duration: 500ms;
    position: absolute;
    width: 20px;
    height: 6px;
    background-color: #212121;
    top: -15px;
}

.btn1 .icon-left:after {
    content: '';
    transition-duration: 500ms;
    position: absolute;
    width: 20px;
    height: 6px;
    background-color: #212121;
    top: 15px;
}

.btn1 .icon-left:hover {
    cursor: pointer;
}

.btn1 .icon-right {
    transition-duration: 500ms;
    position: absolute;
    height: 6px;
    width: 20px;
    top: 20px;
    background-color: #212121;
    left: 20px;
}

.btn1 .icon-right:before {
    content: '';
    transition-duration: 500ms;
    position: absolute;
    width: 20px;
    height: 6px;
    background-color: #212121;
    top: -15px;
}

.btn1 .icon-right:after {
    content: '';
    transition-duration: 500ms;
    position: absolute;
    width: 20px;
    height: 6px;
    background-color: #212121;
    top: 15px;
}

.btn1.open .icon-left {
    transition-duration: 500ms;
    background: transparent;
}

.btn1.open .icon-left:before {
    transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
}

.btn1.open .icon-left:after {
    transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
}

.btn1.open .icon-right {
    transition-duration: 500ms;
    background: transparent;
}

.btn1.open .icon-right:before {
    transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
}

.btn1.open .icon-right:after {
    transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
}

.btn1:hover {
    cursor: pointer;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    z-index: 10;
}

.menu-container.active {
    left: 0;
}

.menu-flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.menu-flex > a {
    position: relative;
    font-size: calc(1.8em + 1vw);
    color: var(--grey-color);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    padding: .4em;
}

.menu-flex > a:hover {
    color: var(--red-color);
}

.menu-flex > a:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 100%;
    width: 100%;
    height: 5px;
    background-color: var(--color-red);
    visibility: hidden;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

/* .menu-flex > a:hover:last-child {
    color: var(--color-red);
} */

.menu-flex > a:not(:last-child):hover::after {
    left: 0;
    visibility: visible;
}

.menu-flex span {
    font-size: calc(1em + .8vw);
}


/****** FIN MENU ******/

.login {
    width: 40%;
    font-size: calc(.6rem + .8vw);
    color: var(--grey-color);
    padding: .4em;
    border: 2px solid var(--red-color);
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    -ms-border-radius: .2em;
    -o-border-radius: .2em;
    border-radius: .2em;
    text-align: center;
}

.login-mobile {
    width: 20%;
}

.login:hover {
    background-color: var(--red-color);
    color: var(--second-color) !important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.disconnect {
    width: 40%;
    font-size: calc(.6rem + .8vw);
    color: var(--second-color);
    background-color: var(--grey-color);
    padding: .4em;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    -ms-border-radius: .2em;
    -o-border-radius: .2em;
    border-radius: .2em;
    text-align: center;
}

.main {
    height: calc(20em + 20vh);
    background-image: url('/public/resources/images/service.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

.main__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__container__title {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin-top: 2em;
}

.main__container__title h2 {
    font-size: calc(2rem + 1.4vw);
    text-transform: uppercase;
    text-align: center;
    color: var(--second-color);
}

.main__container__title h2 > span {
    color: var(--red-color);
}

.main__container__search {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form__search {
    width: 80%;
    display: flex;
    gap: 4em;
    justify-content: center;
}

.form__search input {
    width: 50%;
    font-size: calc(.8rem + .8vw);
    padding: .5em;
    background-color: var(--second-color);
    color: var(--grey-color);
    box-shadow: 0px 1px 1px var(--grey-color);
    outline: none;
    -webkit-border-radius: .1em;
    -moz-border-radius: .1em;
    -ms-border-radius: .1em;
    -o-border-radius: .1em;
    border-radius: .1em;
}

.form__search input::placeholder {
    color: #9f9f9f;
}

.form__search button {
    width: 10%;
    font-size: calc(.5rem + .8vw);
    background-color: var(--red-color);
    color: var(--second-color);
    -webkit-border-radius: .1em;
    -moz-border-radius: .1em;
    -ms-border-radius: .1em;
    -o-border-radius: .1em;
    border-radius: .1em;
    
}


.professionals {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
}

.professionals__h2 {
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: calc(1.2rem + 1.4vw);
    padding: 2em;
}

.most-popular {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
}

.card-item {
    width: 20%;
    height: calc(13vw + 3em);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-item figure {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-item figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.last-person img{
    object-position: 25% center;
}

.card-item figure > figcaption {
    width: 70%;
    height: 24%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-family: var(--second-font);
    background-color: var(--red-color);
    color: var(--second-color);
    position: absolute;
    left: -20%;
    top: 70%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-item figure > figcaption strong {
    font-weight: bold;
}

.records {
    width: 100%;
    height: calc(15vw + 5em);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15em;
    padding: 1em;
    background-color: var(--grey-color);
}

.record__item {
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.record__item div {
    width: 100%;
    border: 2px solid var(--second-color);
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -ms-border-radius: 10em;
    -o-border-radius: 10em;
    border-radius: 10em;
    padding: 2em;
}

.record__item img {
    width: 100%;
    transform: scale(1.1);
}

.record__item p {
    width: 100%;
    font-size: calc(.4rem + .4vw);
    text-align: center;
    font-weight: 300;
    color: var(--second-color);
}

/***** ZONA SLIDER *****/

.testimonials {
    width: 100%;
    height: calc(20em + 13vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    padding: 4em;
}

.testimonials__h2 {
    width: 100%;
    font-size: calc(1rem + 1vw);
    margin-bottom: 1em;
    text-align: center;
}

.comment {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.comment strong {
    font-size: calc(.8rem + .8vw);
    font-weight: 300;
    color: var(--red-color);
}

.comment p {
    font-family: var(--second-font);
    font-weight: 300;
    font-size: calc(.5rem + .5vw);
    font-style: italic;
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
  
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    /* background-size: cover;
    background-position: center; */
    transition: opacity 1s ease-in-out;
}
  
.slide:nth-child(1) {
    opacity: 1;
}
  
.slide:nth-child(n+2) {
    opacity: 0;
}
  

/******************************************************/
/*********************** FOOTER ***********************/
/******************************************************/

footer {
    width: 100%;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .social-media {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    padding: 3em;
}

.social-media > svg {
    width: 2.3em;
    filter: invert(14%) sepia(96%) saturate(5378%) hue-rotate(338deg) brightness(82%) contrast(111%);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.social-media > svg:hover {
    filter: invert(100%) sepia(84%) saturate(202%) hue-rotate(196deg) brightness(115%) contrast(89%);
    cursor: pointer;
}

footer .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 2em 3em;
    width: 100%;
}

.contact > * {
    width: 400px;
    padding-bottom: 2em;
}

.contact > .info {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

footer .logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.get-app {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-bottom: 2em;
}

.get-app__info,
.get-app__device {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
}

.get-app__info p {
    width: 50%;
    color: #9f9f9f;
    font-size: calc(.8rem + .8vw);
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.get-app__info h2 {
    width: 50%;
    color: var(--grey-color);
    font-size: calc(3.8rem + 1vw);
}

.get-app__info h2 > span {
    color: var(--red-color);
    font-size: calc(5rem + 1.2vw);
}

.device__img {
    width: 30%;
}

.device__img img {
    width: 100%;
}

footer .contact-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contact-info > p {
    color: #f1f1f1;
    display: flex;
    align-items: center;
    gap: 1em;
}

footer .privacy,
footer .about-us {
    display: flex;
    flex-direction: column;
}

.privacy > h3,
.privacy > a,
.about-us > h3,
.about-us > a {
    color: #f1f1f1;
    padding-bottom: 1em;
}

.privacy > a,
.about-us > a {
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.privacy > a:hover {
    color: var(--red-color);
    text-decoration: underline;
}

.privacy > h3,
.about-us > h3,
.newsletter > h3 {
    font-size: calc(.8em + .5vw);
    letter-spacing: 1px;
}

footer .newsletter {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.newsletter > h3,
.newsletter > p {
    color: #f1f1f1;
    padding-bottom: 1em;
}

.newsletter > p {
    line-height: 1.5em;
}

.newsletter > .subscription {
    display: flex;
    height: 3em;
}

.newsletter > .subscription > input {
    border: 0;
    height: 100%;
    min-width: 15em;
    max-width: 20em;
    padding-left: 1em;
    padding-right: 3em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background-color: var(--second-color);
    outline: none;
}

.newsletter > .subscription > button {
    height: 100%;
    width: 3em;
    border: 0;
    cursor: pointer;
    color: #f1f1f1;
    background-color: var(--red-color);
    margin-left: -2em;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -ms-border-radius: 0 2px 2px 0;
    -o-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}

.footer__container > .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    color: #f1f1f1;
    background-color: var(--red-color);
}

.copyright > p {
    font-size: calc(.7em + .6vw);
}


@media (max-width: 992px) {

    .ds-menu {
        display: none;
    }

    .sm-menu {
        display: block;
    }

    .main__container__title {
        width: 100%;
        font-size: calc(1.5em + 1vw);
        padding: .8em;
    }

    .main__container__title h2 {
        font-size: calc(1.6rem + 1vw);
    }

    .records {
        height: auto;
        flex-direction: column;
        gap: 2em;
    }

    .record__item {
        width: 40%;
    }

    .record__item div {
        width: 100%;
    }

    .record__item div img {
        width: 100%;
    }

    .most-popular {
        flex-wrap: wrap;
    }

    .most-popular .card-item {
        width: 40%;
        height: calc(8em + 1vh);
    }

    .testimonials {
        padding: 1em;
    }

    .slider .slide {
        width: 100%;
        flex-direction: column;
    }

    .form__search {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .form__search input {
        width: 90%;
    }

    .form__search button {
        width: 90%;
        padding: .5em;
        font-size: calc(.8em + .5vw);
        cursor:pointer;
    }

    .get-app {
        flex-direction: column;
        gap: 2em;
    }

    .get-app__info,
    .get-app__device {
        width: 100%;
    }

    .get-app__info h2 {
        width: 80%;
        text-align: center;
        font-size: calc(2rem + 1vw);
    }

    .get-app__info h2 > span {
        font-size: calc(1.8rem + 1vw);
    }

    .get-app__info p {
        font-size: calc(.8rem + .8vw);
    }
    .card-item figure > figcaption {
        width: 100%;
        height: calc(4em + 1vh);
        padding: 1em;
        font-size: calc(.6rem + .5vw);
    }
}